body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px; /* Increased width */
}

h2 {
    text-align: center;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #5c67f2; /* Use the specified blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #4b52c2; /* Slightly darker blue on hover */
}

.link {
    color: #0066cc;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
