<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <link rel="stylesheet" href="./static/css/progress_report.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <a href="/"><i class="fas fa-home"></i> Home</a>
        {% if session_logged_in and isManager %}
            <a href="/employees"><i class="fas fa-users"></i> Employees</a>
            <a href="/tasks"><i class="fas fa-tasks"></i> Tasks</a>
            <a href="/projects"><i class="fas fa-briefcase"></i> Projects</a>
            <a href="/calendar"><i class="fas fa-calendar-alt"></i> Calendar</a>
            <a href="/translate"><i class="fas fa-language"></i> Translation Tool</a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        {% elif session_logged_in %}
            <a href="/employee"><i class="fas fa-tasks"></i> Main Dashboard</a>
            <a href="/calendar"><i class="fas fa-calendar-alt"></i> Calendar</a>
            <a href="/translate"><i class="fas fa-language"></i> Translation Tool</a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        {% else %}
            <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/signup"><i class="fas fa-sign-in-alt"></i> Signup</a>
        {% endif %}
    </div>
    <div class="content">
        {% if num_supervisees %}
        <h1>Employee Progress</h1>
            <h2>Supervisees Progress</h2>
            {% for i in range(num_supervisees) %}
                <img src="{{ url_for('static', filename='progress_' ~ (i+1) ~ '.png') }}" alt="Progress Graph {{ i+1 }}">
            {% endfor %}
        {% endif %}
        <h1>My Progress</h1>
        <img src="{{ url_for('static', filename='progress_manager.png') }}" alt="Manager's Progress Graph">
    </div>
</body>
</html>